<div class="container">
  <h2>出張申請リスト</h2>
    <%= form_tag requests_path, method: 'get' do %>
    <div class="form-inline">
      <%= text_field_tag :search, params[:item], value: @search_params[:search] ,class: "form-group form-control" %>
      <!--%= submit_tag "検索", class: "form-group form-control btn btn-primary" %-->

      <%= select_tag :user_id, content_tag(:option,'名前',:value=>"")+options_from_collection_for_select(User.all, 'id', 'name', @search_params[:user_id].to_i), class: "form-group form-control" %>

      <%= select_tag :auth_state,  options_for_select({"全て" => "", "未承認" => "未承認", "承認" => "承認"}, @search_params[:auth_state]), class: "form-group form-control" %>

      <%= submit_tag "検索", class: "form-group form-control btn btn-primary" %>
    
    </div>
    <% end %>


  <table class="table table-striped">
    <thead>
      <tr>
        <th>項番</th>
        <th>営業</th>
        <th>申請日</th>
        <th>出張開始日</th>
        <th>出張終了日</th>
        <th>方面</th>
        <th>承認者</th>
        <th>状態</th>
      </tr>
    </thead>
    <tbody>
      <% @requests.each do |request| %>
        <tr>
          <td><%= link_to("#{request.id}", request_path(request)) %></td>
          <td><%= request.name %></td>
          <td><%= request.req_date.strftime('%Y/%m/%d') %></td>
          <td><%= request.start.strftime('%Y/%m/%d') %></td>
          <td><%= request.end.strftime('%Y/%m/%d') %></td>
          <td><%= request.region %></td>
          <% if request.auth_id.nil? %>
            <td>---</td>
          <% else %>
            <td><%= user_name(request.auth_id) %></td>
          <% end %>
          <% if request.state.nil? %>
            <td>---</td>
          <% else %>
            <td><%= request.state %></td>
          <% end %>

          <% if request.user_id == current_user.id && request.auth_id.nil? %>
            <td><%= link_to '削除', request_path(request.id), method: :delete, data: {confirm: '本当に削除しますか？'}, class: 'btn btn-danger' %></td>
          <% else %>
            <td></td>
          <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to '新規', new_request_path, class: 'btn btn-primary' %>
  <%= link_to 'カレンダー', schedules_path, class: 'btn btn-primary' %>
  <%= link_to '出張指示', orders_path, class: 'btn btn-primary' %>
</div>

