<h2>出張指示</h2>

<%= form_for(@order, url: path, method: method) do |f| %>
<div class="container">
<div class="row">

<div class="col-sm-6">

  <div class="form-group">
    <div class="col-sm-12">
    <label class="text-right bottom-text col-sm-2 control-label" for="">方面</label>
    <div class="col-sm-4">
      <%= f.text_field :place, class: 'form-control' %>
    </div>
  </div>
  </div>

  <div class="form-group">
    <div class="col-sm-12">
    <label class="text-right col-sm-2 control-label" for="">期間</label>
    <div class="col-sm-4">
      <%= f.text_field :start, :value => (f.object.start.strftime('%Y/%m/%d') unless f.object.start.nil? ), class: 'date-picker-noinit form-control' %>
    </div>
    <label class="col-sm-1 control-label" for="">:</label>
    <div class="col-sm-4">
      <%= f.text_field :end, :value => (f.object.end.strftime('%Y/%m/%d') unless f.object.end.nil? ), class: 'date-picker-noinit form-control' %>
    </div>
    </div>
  </div>
</div><!-- class="col-sm-6" -->

<div class="col-sm-6">

  <div class="form-group">
    <div class="col-sm-12">
      <label class="text-right col-sm-3 col-sm-offset-5 control-label" for="">指示日</label>
      <div class="col-sm-4">
        <%= f.text_field :order_date, :value => (f.object.order_date.strftime('%Y/%m/%d') unless f.object.start.nil? ),class: 'date-picker form-control' %>
      </div>
    </div>
    <div class="col-sm-12">
      <label class="text-right col-sm-2 col-sm-offset-6 control-label" for="">営業</label>
      <div class="col-sm-4">
        <%= f.collection_select :user_id, User.all, :id, :name, { include_blank: true }  %>
      </div>
    </div>
        
    </div>
  </div>

</div><!-- class="col-sm-6" -->

<div class="col-sm-4">
  <%= f.label :visit, "訪問先" %>
  <%= f.text_field :visit, class: 'form-control' %>
  <%= f.label :personnel, "面談者" %>
  <%= f.text_field :personnel, class: 'form-control' %>
</div>

<div class="col-sm-12">
  <%= f.label :purpose, "指示内容" %>
  <%= f.text_area :purpose, class: 'form-control' %>
  <%= f.label :notes, "特記事項" %>
  <%= f.text_area :notes, class: 'form-control' %>
</div>

<div class="col-sm-6 btn-toolbar">
  <% if method == :put %>
    <%= link_to 'キャンセル', order_path(@order), class: 'col-sm-2 btn btn-primary' %>
  <% else %>
    <%= link_to 'キャンセル', orders_path, class: 'col-sm-2 btn btn-primary' %>
  <% end %>
  <%= f.submit '登録', class: 'col-sm-2 btn btn-primary'%>
</div>

</div>
</div>
<% end %>

